h1 {
  text-align: center;
}

.CarouselWidth {
  width: 80%;
}

#TableEpisodios tr th{
  border: double;
}

#TableEpisodios tr td{
  border: double;
}

#TableEpisodios tr th:first-child{
  width: 89%;
}
