@import url('https://fonts.googleapis.com/css?family=Niconne');

h1 {
  text-align: center;
}

#p{
    color: green;
}

.PanelColor ul{
  list-style-type: none;
  text-align:center;
  padding: inherit;
  margin: inherit;
}

.PanelColor ul li{
    display: inline-block;
}

.SinMargen{
  margin: inherit;
}

.FondoBarra{
  background-color: hsl(216, 100%, 40%);
  width: 100%;
  margin:0;
}

.dropdown-menu{
  background-color: hsl(216, 100%, 70%);
}

.Fondo{
  background-color:hsl(210, 100%, 75%);
}

.PanelColor{
  background-color:hsl(210, 100%, 65%);
  border: groove;
  border-color: lightblue;
}

.PanelGaleria{
  background-color:hsl(210, 100%, 80%);
  border-style: double;
  border-color: orange;
  color: hsl(24, 100%, 45%);
  width: 400px;
  height: 580px;
}

.PanelGaleria h1{
    font-family: 'Niconne', cursive;
    font-size: 60px;
}

.NormalCube{
  width: 80%;
}

.center{
    margin: auto;
    width: 50%;
}

.CenterText{
  text-align: center;
}

.Video{
  width: 80%;
}

.listImg li{
  display: inline;
  margin: 15px;
}

.ImgEvaluar{
  width: 200px;
  height: 200px;
}

.CarouselWidth {
  width: 80%;
}

.FlotarDown{
  float: bottom;
}

.TableEpisodios tr th{
  border: double;
}

.TableEpisodios tr td{
  border: double;
}

.TableEpisodios tr th:first-child{
  width: 89%;
}

#footer{
  color: white;
  background-color: hsl(216, 100%, 40%);
  margin:inherit;
  height: 45px;
}

/*-- --------------------------------------Caja de comentarios*/

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
  border: 1px solid #dddddd;
  width: 80%;
}

.post .post-heading {
  height: 65px;
  padding: 20px 15px;
}

.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}

.post .post-description {
  padding: 15px;
}

.post .post-description p {
  font-size: 14px;
}

.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}

/*-- --------------------------------------Color Nav*/
.navbar-default .navbar-brand {
    color:White;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: black;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: hsl(216, 100%, 80%);
}
