h1 {
  text-align: center;
}

ul{
  list-style-type: none;
}

.center {
    margin: auto;
    width: 50%;
}

.CenterText{
  text-align: center;
}

.CarouselWidth {
  width: 80%;
}

.TableEpisodios tr th{
  border: double;
}

.TableEpisodios tr td{
  border: double;
}

.TableEpisodios tr th:first-child{
  width: 89%;
}

#footer{
  width: 100%;
  margin:inherit;
}
